.Add-new-recipe__container {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.Add-new-recipe-container__title {
    font-size: calc(10px + 2vmin);
    margin: 15px 0px 10px 0px;
  }
  
.Add-new-recipe__button {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    margin-top: 10px;
    transition: background-color .5s;
    align-items: center;
    padding: 5px;
    margin-right: 5px;
}
  
.Add-new-recipe__button:hover {
    background-color: darkorchid;
}
  
.Add-new-recipe-button__icon {
    padding: 5px;
}

.Add-new-recipe__container p {
    font-size: calc(4px + 2vmin);
    margin: 5px 5px 5px 0px;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color: darkorchid;
}

.Add-new-recipe__container p:hover {
    transition: 1s;
    font-size: calc(5px + 2vmin);
    border-width: 0px 0px 3px 0px;
}

.Add-new-recipe__container input {
    margin: 5px 5px 5px 0px;
}

.EditForm {
    display: none;
}

.Edit-recipe__button {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    margin-top: 10px;
    transition: background-color .5s;
    align-items: center;
    padding: 5px;
}
  
.Edit-recipe__button:hover {
    background-color: darkorchid;
}
  
.Edit-recipe-button__icon {
    padding: 5px;
    color: green;
}

.Discard-new-recipe__button {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    margin-top: 10px;
    transition: background-color .5s;
    align-items: center;
    padding: 5px;
}
  
.Discard-new-recipe__button:hover {
    background-color: darkorchid;
}
  
.Discard-new-recipe-button__icon {
    padding: 5px;
    color: red;
}

.Add-new__recipe {
    display: flex;
    flex-direction: row;
}

.Discard-recipe__button {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    margin-top: 10px;
    transition: background-color .5s;
    align-items: center;
    padding: 5px;
}
  
.Discard-recipe__button:hover {
    background-color: darkorchid;
}
  
.Discard-recipe-button__icon {
    padding: 5px;
    color: red;
}

.hiddenInput {
    display:none;
}